<div class="row">
  <div class="col">
    <table class="table table-sm table-bordered">
      <tr>
        <td>Color</td>
      </tr>
      {{#each model as |color|}}
        <tr>
          <td>
            {{color.name}}
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>

<form {{action "addColor" on="submit"}}>
  <label>Name: </label>
  {{input value=name class="form-control"}}
  <label>Hex Value: </label>
  {{input value=hex class="form-control"}}
  <button type="submit" class="btn btn-primary">Add Color</button>
</form>

{{outlet}}
